$height: 3.6em;

:host {
  max-width: 100%;
  display: block;
  margin: prop(input-margin, 0.1em 0);
  font-size: prop(input-font-size, 1em);
  color: prop(input-color);
  height: prop(input-height, $height);
}

:host([rounded]) {
  border-radius: prop(input-height, $height);
}

.lc_input {
  box-shadow: prop(input-shadow, inset 0 0 0 0.11em transparent);
  border-radius: inherit;
  position: relative;
  height: 100%;
  display: flex;
  background: prop(input-background, #fff);
  @include transitions('box-shadow');

  &__inner {
    position: relative;
    flex: 1;
  }

  &__label {
    position: absolute;
    top: 0.1em;
    left: prop(input-padding-left, 1.6em);
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    font-size: prop(input-font-size, 1rem);
    @include transitions('opacity, transform, color');
    backface-visibility: hidden;
    transform-origin: 0 0;
    color: prop(input-label-color, #333);

    &-text {
      opacity: .5;
    }
  }

  &__error {
    color: transparent;
    @include transitions('color');
  }

  &__placeholder {
    position: absolute;
    top: 0.1em;
    left: prop(input-padding-left, 1.6em);
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    font-size: prop(input-font-size, 1rem);
    @include transitions('opacity');
    opacity: .5;
    backface-visibility: hidden;
    transform-origin: 0 0;
    color: prop(input-placeholder-color, #333);
  }

  input {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    // min-height: prop(input-height, $height);
    font-size: prop(input-font-size, 1rem);
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    padding-left: prop(input-padding-left, 1.6em);
    padding-right: prop(input-padding-right, 1.6em);
    color: inherit;
    max-width: 100%;
    border-radius: inherit;
    font-family: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    @include transitions('transform')
  }

  &__extra {
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: prop(input-extra-font-size, 1.25em);
  }
}

:host([extra-start]) {
  .lc_input {
    &__extra {
      &--start {
        display: flex;
        padding: prop(input-extra-padding-start, 0 0 0 1.1em);
      }
    }
  }
}

:host([extra-end]) {
  .lc_input {
    &__extra {
      &--end {
        display: flex;
        padding: prop(input-extra-padding-end, 0 1.1em 0 0);
      }
    }
  }
}

:host([state-focused]) {
  .lc_input {
    box-shadow: prop(input-focus-shadow, inset 0 0 0 0.11em prop(secondary));
  }
}

:host([state-value][placeholder]),
:host([state-focused][placeholder]) {
  .lc_input {
    &__placeholder {
      opacity: 0;
    }
  }
}

:host([label]),
:host([error]) {
  .lc_input {
    &__placeholder {
      opacity: 0;
    }
  }
}

:host([state-value][label]),
:host([state-focused][label]),
:host([state-value][error]),
:host([state-focused][error]) {
  .lc_input {
    &__label {
      opacity: 0.7;
      color: prop(primary);
      color: prop(input-active-label-color);
      transform: scale(0.84) translateY(-0.50em);
    }
    input {
      transform: translateY(0.4em);
    }
  }
}
:host([state-value][label][center]),
:host([state-focused][label][center]),
:host([state-value][error][center]),
:host([state-focused][error][center]) {
  .lc_input {
    &__label {
      transform: scale(0.84) translateY(-0.50em) translateX(-50%);
    }
  }
}

:host([disabled]) {
  opacity: .4;
  cursor: not-allowed;
  .lc_input {
    pointer-events: none;
  }
}


:host([center]) {
  .lc_input {
    input {
      text-align: center;
    }
    &__placeholder {
      left: 50%;
      transform: translateX(-50%);
    }
    &__label {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


:host([error]) {
  .lc_input {
    box-shadow: prop(input-error-shadow, inset 0 0 0 0.11em prop(error));
    &__label {
      &-text {
        display: none;
      }
    }
    &__error {
      color: prop('error');
    }
  }
}
