$height: 3.6em;

.lc_input {
  &__control {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: prop(input-control-padding, 0 1.2em);
    font-size: inherit;
    cursor: pointer;
    user-select: none;
    outline: none;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @include transitions('background');
    }

    // &:hover,
    &:focus {
      &::before {
        background: prop(input-control-active-bg, rgba(0,0,0,.02));
      }
    }
  }
}

:host([rounded]) {
  .lc_input {
    &__control {
      &--up {
        border-radius: prop(input-control-radius-right, 0 $height $height 0);
      }
      &--down {
        border-radius: prop(input-control-radius-left, $height 0 0 $height);
      }
    }
  }
}

:host([controls]) {
  .lc_input {
    &__control {
      display: flex;
    }

    &__label {
      left: prop(input-control-padding-left, .2em);
    }

    input {
      padding-left: prop(input-control-padding-left, .2em);
      padding-right: prop(input-control-padding-right, .2em);
    }
  }
}
