:host {
  position: relative;
  border: prop(button-border, 0.11em solid #000);
  // text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  height: prop(button-height, 2.8em);
  padding: prop(button-padding, 0.09em 1.6em 0 1.6em);
  display: inline-block;
  margin: prop(button-margin, 0.1em 0);
  font-size: 1em;
  letter-spacing: 0.02em;
  -webkit-tap-highlight-color: transparent;
  border-color: prop(primary);
  background: prop(primary);
  color: prop(on-primary);
  outline: none;
  box-sizing: border-box;

  .lc_button {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: prop(button-font-size, 1em);
    @include transitions("filter");

    &__badge {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      transform: prop(button-badge-transform, translate(12%, -50%));
      background: prop(button-badge-background, #333);
      color: prop(button-badge-color, #fff);
      font-size: prop(button-badge-font-size, 1rem);
      $size: 25px;
      min-width: prop(button-badge-size, $size);
      height: prop(button-badge-size, $size);
      line-height: prop(button-badge-size, $size);
      border-radius: prop(button-badge-size, $size);
      padding: 0 0.6em;
      box-sizing: border-box;
      text-align: center;
      pointer-events: none;
    }
  }
}

:host([badge]) {
  .lc_button {
    &__badge {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

:host([mounted]) {
  @include transitions("background, opacity, color, box-shadow, border");
}

// :host(:focus),
:host(:not([ghost]):hover) {
  background: prop(button-primary-hover-background, prop(on-primary));
  border-color: prop(button-primary-hover-border, prop(on-primary));
  color: prop(button-primary-hover-color, prop(primary));
}
:host(:focus) {
  box-shadow: inset 0 0 0 0.2em white;
}
:host(:active) {
  opacity: 0.8;
}

:host([rounded]) {
  border-radius: prop(button-height, 2.8em);
}

:host([round]) {
  border-radius: 50%;
  width: prop(button-height, 2.8em);
  padding: 0.2em 0;

  .lc_button {
    justify-content: center;
    align-items: center;
    font-size: prop(button-round-font-size, 1.2em);

    &__badge {
      transform: prop(button-round-badge-transform, translate(5%, -40%));
      $size: 22px;
      min-width: prop(button-round-badge-size, $size);
      height: prop(button-round-badge-size, $size);
      line-height: prop(button-badge-size, $size);
      padding: 0 0.4em;
    }
  }
}

:host([secondary]) {
  border-color: prop(secondary);
  background: prop(secondary);
  color: prop(on-secondary);
}
:host([secondary]:not([ghost]):hover) {
  background: prop(button-secondary-hover-background, prop(on-secondary));
  border-color: prop(button-secondary-hover-border, prop(on-secondary));
  color: prop(button-secondary-hover-color, prop(secondary));
}
// :host([secondary]:focus) {
//   box-shadow: inset 0 0 0 0.2em prop(on-secondary);
// }

:host([tertiary]) {
  border-color: prop(tertiary);
  background: prop(tertiary);
  color: prop(on-tertiary);
}
:host([tertiary]:not([ghost]):hover) {
  background: prop(button-secondary-hover-background, white);
  border-color: prop(button-secondary-hover-border, white);
  color: prop(button-secondary-hover-color, prop(primary));
}

:host([disabled]) {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

:host([large]) {
  padding: prop(button-large-padding, 0.09em 2em 0 2em);
  height: prop(button-large-height, 3.6em);

  .lc_button {
    font-size: prop(button-large-font-size, 1.2em);
  }
}

:host([large][round]) {
  width: prop(button-large-height, 3.6em);
  padding: 0;

  .lc_button {
    font-size: prop(button-large-round-font-size, 1.6em);
    line-height: 0;
  }
}

:host([invert]:not([ghost])) {
  background: prop(button-primary-hover-background, prop(on-primary));
  border-color: prop(button-primary-hover-border, prop(on-primary));
  color: prop(button-primary-hover-color, prop(primary));
}
:host([invert]:focus) {
  box-shadow: inset 0 0 0 0.2em prop(primary);
}
:host([invert]:not([ghost]):hover) {
  background: prop(button-primary-hover-background, prop(primary));
  border-color: prop(button-primary-hover-border, prop(primary));
  color: prop(button-primary-hover-color, prop(on-primary));
}
:host([invert][secondary]:not([ghost])) {
  background: prop(button-secondary-hover-background, prop(on-secondary));
  border-color: prop(button-secondary-hover-border, prop(on-secondary));
  color: prop(button-secondary-hover-color, prop(secondary));
}
:host([invert][secondary]:focus) {
  box-shadow: inset 0 0 0 0.2em prop(secondary);
}
:host([invert][secondary]:not([ghost]):hover) {
  background: prop(button-secondary-hover-background, prop(secondary));
  border-color: prop(button-secondary-hover-border, prop(secondary));
  color: prop(button-secondary-hover-color, prop(on-secondary));
}

:host([center]) {
  .lc_button {
    justify-content: center;
  }
}

:host([ghost]) {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-weight: inherit;
  letter-spacing: inherit;

  :hover,
  :active {
    border: 0;
    box-shadow: none;

    .lc_button {
      box-shadow: none;
    }
  }
}

:host([flex]) {
  height: auto;
  width: auto;
  padding: 0;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
