:host {
  background: prop(surface);
  color: prop(on-surface);
  cursor: pointer;
  @include transitions('background, opacity, box-shadow');
}

:host([active]) {
  background: prop(primary);
  color: prop(on-primary);
}

.wrap {
  z-index: 1;
  position: relative;
  padding: prop(tabs-header-item-padding, 12px 20px);
  letter-spacing: 0.05em;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    content: '';
    z-index: -1;
    @include transitions('background');
  }
}


:host(:focus),
:host(:hover) {
  outline: none;
  // background: prop(secondary-lighter);
  // box-shadow: 0 0 20px rgba(0,0,0,.09);

  .wrap {
    &::before {
      background: prop(tabs-header-item-active-background, rgba(0,0,0,.09));
    }
  }
}
