<div class="switch">

  <div class="switch__trigger">
    <div class="switch__flip">
      <div class="switch__track"></div>
      <div class="switch__bullet"></div>
    </div>
    <label class="switch__text">[[statusText]]</label>
  </div>

</div>
