$defaultHeight: 25px;
$defaultWidth: 50px;

:host {
  // position: relative;
  height: prop(switch-height, $defaultHeight);
  display: inline-block;
  margin: 0 1em .5em 0;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

// :host(:not([mounted])) {
//   // transition-property: background color;
//   // transition-duration: .22s;
// }

:host([disabled]) {
  opacity: 0.6;
  cursor: not-allowed;
  .switch {
    pointer-events: none;
    &__flip {
      filter: blur(1px);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;

  &__trigger {
    display: flex;
    align-items: center;
  }

  &__text {
    display: inline-block;
    padding: prop(switch-text-padding, 0 0 0 1em);
    cursor: pointer;
  }

  &__flip {
    width: prop(switch-width, $defaultWidth);
    min-width: prop(switch-width, $defaultWidth);
    height: prop(switch-height, $defaultHeight);
    position: relative;
  }

  &__track {
    background: prop(disabled);
    width: 100%;
    height: 100%;
    border-radius: prop(switch-height, $defaultHeight);
    transition-property: background, box-shadow;
    transition-duration: prop(transition-duration);
    transition-timing-function: prop(transition-timing-function);
  }

  &__bullet {
    position: absolute;
    left: 0;
    transform: translateX(0);
    margin: 0 1px;
    top: 0;
    width: prop(switch-height, $defaultHeight);
    height: prop(switch-height, $defaultHeight);
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    // transition-property: left, transform;
    // transition-duration: prop(transition-duration);
    // transition-timing-function: prop(transition-timing-function);
    @include transitions('left, transform');

    &::after {
      content: '';
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background: white;
      border-radius: 50%;
      @include transitions('box-shadow');
      box-shadow: inset 0 0 0 7px white, inset 0 0 0 10px transparent;
    }
  }
}

:host([text-color]) {
  .switch__text {
    @include transitions(color)
  }
}
:host([text-color][checked]) {
  .switch__text {
    color: prop(primary);
  }
}
:host([text-color][checked][secondary]) {
  .switch__text {
    color: prop(secondary);
  }
}

:host(:focus) {
  .switch__bullet {
    &::after {
      box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px prop(primary);
    }
  }
}
:host([secondary]:focus) {
  .switch__bullet {
    &::after {
      box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px prop(secondary);
    }
  }
}

:host([disabled]:focus) {
  .switch__bullet {
    &::after {
      box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px prop(disabled);
    }
  }
}


:host([checked]) {
  .switch {
    &__track {
      background: prop(primary);
      opacity: 1;
      filter: none;
    }
    &__bullet {
      left: 100%;
      transform: translateX(-100%);
    }
  }
}
:host([checked][secondary]) {
  .switch {
    &__track {
      background: prop(secondary);
    }
  }
}
