:host {
  box-sizing: border-box;
  display: none;
}

:host([layout="top"]) {
  position: relative;
  width: 100%;
  overflow: hidden;
}

:host([layout="float"]),
:host([layout=""]),
:host(:not([layout])) {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  // max-width: 1800px;
  box-sizing: border-box;
  z-index: 900;

  .cookie {
    box-shadow: prop(cookie-box-shadow, 0 10px 40px 0 rgba(0,0,0,.2));
  }
}

.cookie {
  background: prop(surface);
  max-width: 1800px;
  margin: 0 auto;
  &__content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: prop(cookie-flex-direction, row);
    padding: prop(cookie-padding, 22px 45px);
  }

  &__text {
    margin: prop(cookie-text-margin, 0 3em 0 0);
  }

  @media (max-width: 900px) {
    &__content {
      flex-direction: prop(cookie-flex-direction, column);
    }
    &__text {
      margin: prop(cookie-text-margin, 0 0 1em 0);
    }
  }
}
