<div class="cookie">
  <div class="cookie__content">
    <div class="cookie__text">
      <slot name="text"></slot>
    </div>
    <div class="cookie__buttons">
      <slot name="buttons"></slot>
    </div>
  </div>
</div>
