:host {
  position: relative;
  background: prop(nav-background, white);
  color: prop(nav-color, black);
  display: none;
  backface-visibility: hidden;

  .lc_nav {
    &__inner {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      height: prop(nav-height, 6rem);
      padding: prop(nav-padding, 0 2em);
      margin: 0 auto;
      max-width: prop(nav-max-width, 1400px);
      @include transitions("height");
    }

    &__top {
      position: absolute;
      left: 0;
      right: 0;
      overflow: hidden;
      transform: translateY(-100%);

      &__close {
        position: absolute;
        right: 20px;
        top: 0;
        padding: 12px;
        color: white;
        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
          @include transitions(transform);

          line {
            stroke: currentColor;
          }
        }

        &:hover {
          svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

:host([switch="active"]) {
  .lc_nav {
    &__inner {
      height: prop(nav-switch-height, 5rem);
    }
  }
}

:host([visible]) {
  display: block;
}

:host([sticky]) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
