<div class="lc_nav">
  <div class="lc_nav__top">
    <slot name="top"></slot>
    <div class="lc_nav__top__close" on-click="closeBanner">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
          <g id="X">
            <line id="_x5C_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10" x1="0" y1="0" x2="50" y2="50" stroke-linecap="round"/>
            <line id="_x2F_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10" x1="0" y1="50" x2="50" y2="0" stroke-linecap="round"/>
          </g>
        </svg>
    </div>
  </div>
  <div class="lc_nav__inner">
    <div class="lc_nav__start"><slot name="start"></slot></div>
    <div class="lc_nav__center"><slot name="center"></slot></div>
    <div class="lc_nav__end"><slot name="end"></slot></div>
    <slot></slot>
  </div>
</div>
