$props: (
  'primary': #dc00a3,
  'on-primary': #fff,
  'secondary': #ffd4e7,
  'on-secondary': #702266,
  'tertiary': transparent,
  'on-tertiary': #444,
  'surface': #fff,
  'on-surface': #000,
  'background': #fff,
  'error': #b00020,
  'hint': #ae5204,
  'disabled': #ccc,
  'icon': #000,
  'transition-duration': .2s,
  'transition-timing-function': cubic-bezier(0.215, 0.61, 0.355, 1)
);
$varPrefix: 'loop-theme--';

@function prop($key, $def: '') {
  @if map-has-key($props, $key) {
    $value: map-get($props, $key);
    @return var(--#{$varPrefix}#{$key}, $value);
  } @else {
    @if ($def == '') {
      @return var(--#{$varPrefix}#{$key});
    } @else {
      @return var(--#{$varPrefix}#{$key}, $def);
    }
  }
}

@mixin transitions ($props) {
  transition-property: unquote($props);
  transition-duration: prop(transition-duration);
  transition-timing-function: prop(transition-timing-function);
}
