:host {
  display: block;
}

.lc_sidebar {
  &__background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 108;
    background: prop(overlay-background, rgba(0, 0, 0, 0.3));
    backface-visibility: hidden;
  }

  &__content {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 120;
    width: 460px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2em;
    backface-visibility: hidden;
    box-shadow: 0 0 40px -14px rgba(0, 0, 0, 0.6);

    &:focus {
      outline: none;
    }

    &__nav {
      display: none;
      position: absolute;
      bottom: 100%;
      background: prop(sidebar-nav-background, #000);
      left: 0;
      right: 0;
      padding: 0 2em;
      align-items: center;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }
  }
}

:host([over-nav]) {
  .lc_sidebar {
    &__content {
      &__nav {
        display: flex;
      }
    }
  }
}

:host([right]) {
  .lc_sidebar {
    &__content {
      right: 0;
      left: auto;
    }
  }
}
