<div class="lc_sidebar">
  <div class="lc_sidebar__background"></div>
  <div class="lc_sidebar__content">
    <div class="lc_sidebar__content__nav"><slot name="navigation"></slot></div>
    <slot name="content"></slot>
  </div>
</div>
