<div class="overlay">
  <div class="overlay__content">
    <div class="overlay__content__inner">
      <div class="overlay__close" tabindex="0" aria-label="Close overlay">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
          <g id="X">
            <line id="_x5C_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10" x1="0" y1="0" x2="50" y2="50" stroke-linecap="round"/>
            <line id="_x2F_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10" x1="0" y1="50" x2="50" y2="0" stroke-linecap="round"/>
          </g>
        </svg>
      </div>
      <div class="overlay__slot">
        <slot></slot>
      </div>
      <div class="overlay__actions"></div>
    </div>
  </div>
</div>
