:host {
  background: prop(overlay-background, rgba(0,0,0,.3));
  z-index: 990;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  display: none;
  opacity: 0;
}

.overlay {
  // display: flex;
  // align-items: center;
  // justify-content: center;

  width: 100%;
  min-height: 100%;
  box-sizing: border-box;

  &__content {
    width: 900px;
    max-width: 100%;
    position: absolute;
    outline: none;

    &__inner {
      box-sizing: border-box;
      margin: prop(overlay-gutter, 40px 0);
      background: prop(surface);
      color: prop(on-surface);
      padding: prop(overlay-content-padding, 80px 120px);
      box-shadow: prop(overlay-content-shadow, 0 10px 40px rgba(0,0,0,.4));
      position: relative;
    }
  }

  &__close {
    $closeSize: 36px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: prop(overlay-close-width, $closeSize);
    height: prop(overlay-close-height, $closeSize);
    color: prop(on-surface);
    transition-property: color, background;
    transition-duration: prop(transition-duration);
    transition-timing-function: prop(transition-timing-function);
    cursor: pointer;
    font-size: prop(overlay-close-font-size, $closeSize*0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    svg {
      // width: prop(overlay-close-width, $closeSize);
      // height: prop(overlay-close-height, $closeSize);
      width: 1em;
      height: 1em;
      line {
        stroke: currentColor;
      }
    }

    &:hover {
      color: prop(secondary);
    }
    &:focus {
      color: prop(secondary);
      // background: prop(secondary);
    }
  }
}
