loop-nav:not([mounted]) {
  *[slot="top"] {
    display: none;
  }
}

loop-tabs:not([mounted]),
loop-sidebar:not([mounted]),
 {
  display: none;
}

loop-overlay,
loop-cookie {
  display: none;
}

loop-switch {
  height: 25px;
  display: inline-block;
}

loop-text-field,
loop-number-field {
  height: 50px;
}

loop-if[initial-hide] {
  display: none;
}

.lc_dropdown__content {
  position: fixed;
  left: -9999px;
  top: -9999px;
}
